{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyHelper</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="page">
        <header class="header container">
            {% include 'lazyhelper/header.html' %}
        </header>
        
        <div class="user_navigation">
        {% if user.is_authenticated %}
            <p>Welcome {{ user.username }}!&nbsp</p>
            <ul>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'user' user.id %}">My orders</a>
            </ul>
        {% else %}
            <p>You are not logged in, please&nbsp</p>
            <ul>
                <a href="{% url 'login' %}">Login</a>
                or
                <a href="{% url 'registration' %}">Signup</a>
            </ul>
        {% endif %}
        </div>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer container">
            {% include 'lazyhelper/footer.html' %}
        </footer>
    </div>
</body>
</html>